<h1> <%= @camper.name %> </h1>

<h2> Age: <%= @camper.age %> </h2>

<h3> 
    <% @camper.activites.each do |activity| %>
       Activity: <%= activity.name %>, Difficulty: <%= activity.difficulty %>
    <%end%>
</h3>