<h2>Here are All the Activites</h2>

<ul>
    <% @activities.each do |activity| %>
        <li>
            Activity: <%= link_to activity.name, activity_path(activity) %>
        </li>
    <%end%>    
</ul>

<%# Display a list all of the activities %>

